body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: pixelated;
  
  
 

}

.App {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to top right, rgba(0, 236, 12, 0.9), rgba(123, 45, 248, 0.9)), url('../src/assets/trippy.jpeg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}